<!DOCTYPE html>

<html>
  <head>
    <title>A FizzBuzz batch microservice</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>A FizzBuzz batch microservice</h2>
      <h3>How to use it:</h3>
      <ol class="user-stories">
        <li>
          The REST API endpoint is
          <code>GET [project_url]/batch/:fromTo?</code>
        </li>
        
      <h3>Example Usage:</h3>
      <ul>
        <li>
          <a href="batch/3 15">
            [project url]/batch/3 15</a
          >
        </li>
      </ul>
      </ol>
    
    <div class="footer">
      <p>by Javier Silva Ortíz</p>
    </div>
    </div>
  </body>
</html>
